/* Variables, Mixins */
/* Global Reset
------------------------------------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1,
.large, h2, h3, a.button, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, #slider li, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Clear Floated Elements
------------------------------------------------------------------------------*/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Global Styles */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative; }

body {
  font-family: Georgia, "Times New Roman", serif;
  background: white;
  color: #333333;
  font-size: 14px;
  font-weight: 400; }

/* Typography */
h1, .large, h2, h3, a.button {
  font-family: "Open Sans", "Lucida Grande", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.15em;
  line-height: 1em; }
  h1.center, .center.large, h2.center, h3.center, a.center.button {
    text-align: center; }

h1, .large {
  font-size: 3em;
  text-align: center; }

h2 {
  font-size: 2.5em;
  text-align: center;
  padding: 0 0 40px 0; }

h3, a.button {
  font-size: 1.3em;
  line-height: 2em;
  padding: 0 0 20px 0; }

a {
  color: inherit;
  text-decoration: underline;
  /* Buttons */
  /* Anchors */ }
  a:hover {
    text-decoration: none; }
  a.button {
    display: inline-block;
    padding: 4px 12px;
    background: #666666;
    color: white;
    text-decoration: none;
    font-size: 1em; }
    a.button:hover {
      background: #5c5c5c; }
    a.button:active {
      background: #525252; }
  a.anchor {
    display: block;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden; }

p {
  font-size: 1em;
  line-height: 2em;
  padding: 0 0 20px 0; }

strong, #slider li {
  font-weight: bold; }

em {
  font-style: italic; }

.large {
  display: inline-block;
  line-height: 1em;
  padding: 0 0 20px 0; }

/* Lists */
ul {
  list-style: square;
  list-style-position: outside;
  padding: 0 0 20px 0; }
  ul li {
    line-height: 2em; }

/* Lines */
hr {
  width: 100%;
  clear: both;
  margin: 0 0 40px 0;
  border-width: 1px;
  border-style: inset; }

/* Layout */
.section {
  width: 100%;
  display: block;
  min-height: 100px;
  padding: 40px;
  /* Logo Header */
  /* Image Headers */
  /* Footers */ }
  .section.logo {
    padding: 20px; }
    .section.logo a {
      display: inline-block;
      text-align: center;
      width: 100%; }
  .section.header {
    background-size: cover;
    background-position: center center;
    color: white;
    height: 300px;
    padding: 80px 40px; }
    .section.header h1, .section.header .large, .section.header h2, .section.header p, .section.header li {
      text-shadow: 0 0 20px black; }
    .section.header.cabin {
      background-image: url(../images/headers/cabin.png);
      background-position: center -400px; }
      .section.header.cabin .hero {
        margin-top: 40px; }
    .section.header.lodge {
      background-image: url(../images/headers/lodge.png);
      background-position: top center; }
    .section.header.course {
      background-image: url(../images/headers/course.png); }
    .section.header.mountains {
      background-image: url(../images/headers/mountains.png);
      background-position: center -200px; }
    .section.header .hero {
      text-align: center; }
      .section.header .hero h1, .section.header .hero .large {
        padding: 0 0 20px 0; }
      .section.header .hero .button {
        background: white;
        color: #333333; }
        .section.header .hero .button:hover {
          background: whitesmoke; }
        .section.header .hero .button:active {
          background: #ebebeb; }
    .section.header h2 {
      line-height: 2em;
      padding: 0; }
      .section.header h2::after {
        content: "";
        display: block;
        width: 80px;
        height: 4px;
        background: white;
        position: absolute;
        bottom: -4px;
        left: 50%;
        margin-left: -40px; }
  .section.footer {
    background: #666666;
    color: white;
    text-align: center; }
    .section.footer a img {
      padding: 0 10px; }
    .section.footer p {
      font-size: 0.8em; }

.wrap {
  zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .wrap:before, .wrap:after {
    content: "";
    display: table; }
  .wrap:after {
    clear: both; }
  .wrap + .wrap {
    padding-top: 40px; }

/* Miscellaneous */
.box {
  border: 1px solid #333333;
  padding: 20px;
  text-align: center; }
  .box.video {
    height: 300px; }

#slider {
  margin: 0 auto;
  list-style: none; }
  #slider li {
    position: absolute;
    line-height: 2em;
    top: 0; }

/* Columns */
.col-one {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 6.17215%; }
  .col-one:last-child {
    margin-right: 0; }

.col-two {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 14.70196%; }
  .col-two:last-child {
    margin-right: 0; }

.col-three {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 23.23176%; }
  .col-three:last-child {
    margin-right: 0; }

.col-four {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .col-four:last-child {
    margin-right: 0; }

.col-five {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 40.29137%; }
  .col-five:last-child {
    margin-right: 0; }

.col-six {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .col-six:last-child {
    margin-right: 0; }

.col-seven {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 57.35098%; }
  .col-seven:last-child {
    margin-right: 0; }

.col-eight {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 65.88078%; }
  .col-eight:last-child {
    margin-right: 0; }

.col-nine {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 74.41059%; }
  .col-nine:last-child {
    margin-right: 0; }

/* Offsets */
.offset-one {
  margin-left: 8.5298%; }

.offset-two {
  margin-left: 17.05961%; }

.offset-three {
  margin-left: 25.58941%; }

.offset-four {
  margin-left: 34.11922%; }

.offset-five {
  margin-left: 42.64902%; }

.offset-six {
  margin-left: 51.17883%; }
