<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="stylesheets/application.css" media="screen">
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->


    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    <script src="../javascripts/jquery.anythingslider.js"></script>
    <script>
      // DOM Ready
      $(function(){
        $('#slider').anythingSlider({
          mode: "fade",
          autoPlay: true,
          autoPlayLocked: true,
          hashTags: false,
          buildArrows: false,
          buildNavigation: false,
          buildStartStop: false,
          animationTime: 500,
        });
      });
    </script>
  </head>

  <body class="{{ page.keyword }}">

    <div class="section logo">
      <div class="wrap">
        <a href="../">
          <img src="../images/logo_header(dark).png" alt="">
        </a>
      </div>
    </div>

    <div class="section nav">
      <div class="wrap">
        <a href="../learnmore.html" id="learnmore">Learn More</a>
        <a href="../stories.html" id="stories">Stories</a>
        <a href="../coursedetails.html" id="coursedetails">Course Details</a>
        <a href="../drjeffmyers.html" id="drjeffmyers">Dr. Jeff Myers</a>
        <a href="../faqs.html" id="faqs">FAQs</a>
      </div>
    </div>

    {{ content }}

    <div class="section footer">
      <div class="wrap">

        <div class="col-four box">
          <h3 class="center">Watch a free session</h3>
          <form action="http://collegeplus.us2.list-manage.com/subscribe/post?u=74545cade270af4eeb67e5bd6&amp;id=d454048a7e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
            <fieldset>
              <div class="field">
                <label for="mce-FNAME">First Name</label>
                <input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
              </div>
              <div class="field">
                <label for="mce-LNAME">Last Name</label>
                <input type="text" value="" name="LNAME" class="required" id="mce-LNAME">
              </div>
              <div class="field">
                <label for="mce-EMAIL">Email Address</label>
                <input type="text" value="" name="EMAIL" class="required email" id="mce-EMAIL">
              </div>
              <div id="mce-responses" class="hidden">
                <div class="response" id="mce-error-response" style="display: none;margin: 1em 0;padding: 1em .5em .5em 0;font-weight: bold;float: left;top: -1.5em;z-index: 1;width: 80%;background: FBE3E4;color: #D12F19;"></div>
                <div class="response" id="mce-success-response" style="display: none;margin: 1em 0;padding: 1em .5em .5em 0;font-weight: bold;float: left;top: -1.5em;z-index: 1;width: 80%;background: #E3FBE4;color: #529214;"></div>
              </div>
              <div class="actions">
                <input type="submit" value="View Free Session" name="subscribe" id="mc-embedded-subscribe">
              </div>
            </fieldset>
          </form>
        </div>

        <div class="col-eight">
          <p>
            <a href=""><img src="../images/social/twitter.png" alt=""></a>
            <a href=""><img src="../images/social/facebook.png" alt=""></a>
            <a href=""><img src="../images/social/googleplus.png" alt=""></a>
          </p>
          <p>
            <a href="" class="logo"><img src="../images/logo_footer(white).png" alt=""></a>
          </p>
          <hr>
          <p class="left"><em>Signature Leadership Courses are a presented by <a href="http://collegeplus.org">CollegePlus</a>, a customized accredited degree program designed around your specific needs, personality, and life purpose. <a href="http://collegeplus.org/howitworks">Learn more</a> or <a href="http://collegeplus.org/whoweare/contactus">contact us</a>.</em></p>
        </div>
      </div>
    </div>

  </body>
</html>
