<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="stylesheets/application.css" media="screen">
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->


    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    <script src="../javascripts/jquery.anythingslider.js"></script>
    <script>
      // DOM Ready
      $(function(){
        $('#slider').anythingSlider({
          mode: "fade",
          autoPlay: true,
          delay: 6000,
          autoPlayLocked: true,
          hashTags: false,
          buildArrows: false,
          buildNavigation: false,
          buildStartStop: false,
          animationTime: 300,
        });
      });
    </script>
  </head>

  <body class="{{ page.keyword }}">
    {{ content }}
  </body>
</html>
