<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="stylesheets/application.css" media="screen">
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->


    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    <script src="../javascripts/jquery.anythingslider.js"></script>
    <script>
      // DOM Ready
      $(function(){
        $('#slider').anythingSlider({
          mode: "fade",
          autoPlay: true,
          autoPlayLocked: true,
          hashTags: false,
          buildArrows: false,
          buildNavigation: false,
          buildStartStop: false,
          animationTime: 500,
        });
      });
    </script>
  </head>

  <body class="{{ page.keyword }}">

    <div class="section logo">
      <div class="wrap">
        <a href="/">
          <img src="../images/logo_header(dark).png" alt="">
        </a>
      </div>
    </div>

    <div class="section nav">
      <div class="wrap">
        <a href="../stories.html">Stories</a>
        <a href="../courses.html">Courses</a>
        <a href="../about.html">About</a>
        <a href="../drjeffmyers.html">Dr. Jeff Myers</a>
        <a href="../questions.html">Questions</a>
      </div>
    </div>

    {{ content }}

    <div class="section footer">
      <div class="wrap">
        <div class="col-six offset-three">
          <p>
            <a href=""><img src="../images/social/twitter.png" alt=""></a>
            <a href=""><img src="../images/social/facebook.png" alt=""></a>
            <a href=""><img src="../images/social/googleplus.png" alt=""></a>
          </p>

          <p>
            <a href=""><img src="../images/logo_footer(white).png" alt=""></a>
          </p>

          <p><em>Signature Leadership Courses are a presented by <a href="http://collegeplus.org">CollegePlus</a>, a customized accredited degree program designed around your specific needs, personality, and life purpose.<br/><a href="http://collegeplus.org/howitworks">Learn more</a> or <a href="http://collegeplus.org/whoweare/contactus">contact us</a>.</em></p>
        </div>
      </div>
    </div>

  </body>
</html>
